@model GiftProject.Web.ViewModels.Category.AllCategoryViewModel
@{
    this.ViewData["Title"] = "All Categories";
}
<link rel="stylesheet" href="css/templatemo.css">

<section class="bg-light">


    <div class="container py-5 mt-3">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="mb-4">Категории</h1>
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model.AllCategories)
            {

                <div class="col-12 col-md-4 mb-4">
                    <div class="a-box">
                        <div class="img-container">
                            <div class="img-inner">
                                <div class="inner-skew">
                                    <a asp-area="" asp-controller="Category" asp-action="CategoryById" asp-route-Id="@category.Id">
                                        <img src="@category.ImgUrl" alt="@category.Name">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="text-container">
                            <h3>@category.Name</h3>
                            <div>
                                Продукти: @category.Products.Count()
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

