@model GiftProject.Web.ViewModels.Category.AllCategoryViewModel
@{
    ViewData["Title"] = " ProductsInCategory";
}
@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.Products.HasPreviousPage ? "1" : (Model.Products.PageIndex - 1).ToString();
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
    var nextPage = !Model.Products.HasNextPage ? "1" : (Model.Products.PageIndex + 1).ToString();

}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <div class="accordion" id="accordionExample">

                <div id="headingOne">
                    <h5 class="mb-0">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Категории
                            <i class="fa bx bx-chevron-down-circle mt-1"></i>
                        </a>

                    </h5>
                </div>

                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <ul class="list-unstyled templatemo-accordion">
                        @foreach (var category in Model.AllCategories.Where(c => c.Products.Any()))
                        {

                            <li class="pb-3">
                                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-area="" asp-controller="Category" asp-action="CategoryById" asp-route-id="@category.Id">
                                    @category.Name
                                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                                </a>
                            </li>


                        }
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" asp-area="" asp-controller="Product" asp-action="AllProducts">Всички</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Нови</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <form action="">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                @*<input id="search" type="search" class="form-control mr-sm-2" name="SearchString" value="@ViewData["currentSearchFilter"]" required />*@
                                <input type="search" name="SearchString" value="@ViewData["currentSearchFilter"]" required placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="bx bx-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">

                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="@product.ImgUrl" alt="">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <form id="votesForm" method="post"></form>
                                        <li><a class="btn btn-primary text-white" onclick="upVote(@product.Id)"><i class="bx bx-heart"></i></a></li>
                                        <li><a class="btn btn-primary text-white mt-2" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><i class="bx bx-happy-heart-eyes"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="h3 text-decoration-none">@product.Name</h4>
                                
                                <p id="votesCount" class="py-2 text-center text-primary">@product.VotesCount</p>
                                <a class="text-decoration-none" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                    <p class="text-center mb-0">@product.ShortDescription</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
            @if (Model.Products.TotalPages != 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" asp-action="CategoryById"
                               asp-route-pageNumber="@prevPage"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]" tabindex="-1">Previous</a>
                        </li>
                        @for (int i = 1; i <= Model.Products.TotalPages; i++)
                        {
                            var active = i == Model.Products.PageIndex ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="page-link" asp-action="CategoryById"
                                   asp-route-pageNumber="@i"
                                   asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                    @i
                                </a>
                            </li>
                        }
                        <li class="page-item ">
                            <a class="page-link" asp-action="CategoryById"
                               asp-route-pageNumber="@nextPage"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">Next</a>
                        </li>
                    </ul>
                </nav>
            }
        </div>

    </div>
</div>