@model GiftProject.Web.ViewModels.Index.IndexViewModel
@using GiftProject.Common
@{
    this.ViewData["Title"] = "Home Page";

}

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="img/present-preview.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Приказни</b> подаръци</h1>

                            <p>
                                Перфектните подаръци за вашият повод <a rel="sponsored" class="text-success" asp-area="" asp-controller="Product" asp-action="Product">Виж повече...</a>,

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="img/gift-box-new1.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">

                            <h3 class="h2">Вълшебства от картон.</h3>
                            <br />
                            <p>
                                В тази категория може да откриете вълшебствата които сме изработили от картон,
                                като <strong>Картонени торти</strong> визитки, стикери, банери и др.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="img/Front/flowers-4666664_1280-removebg-preview.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h3 class="h2">Вълшебства от керамична смес.</h3>
                            <p>
                                В тази категория може да откриете уникални и нестандарни изделия изработени лично от нас,
                                подходящи за всеки ваш повод.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="bx bx-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="bx bx-chevron-right"></i>
    </a>
</div>

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Най-нови продукти</h1>

            </div>
        </div>
        <div class="row">
            @if (!Model.ProductsViewModels.Any())
            {

            }
            @foreach (var product in Model.ProductsViewModels)
            {

                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name" width="500" height="350">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <form id="votesForm" method="post"></form>
                                    <li><a class="btn btn-primary text-white" onclick="upVote(@product.Id)"><i class="bx bx-heart"></i></a></li>
                                    <li><a class="btn btn-primary text-white mt-2" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><i class="bx bx-happy-heart-eyes"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="text-decoration-none">@product.Name</h5>
                            <p id="@product.Id" class="bx bxs-heart text-primary"> @product.VotesCount</p>
                            <a class="text-decoration-none" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                <p class="text-center mb-0">@product.ShortDescription</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        function upVote(productId) {

            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { productId: productId, isUpVote: true };

            console.log(json);
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    var id = "#" + productId.toString();
                    $(id).html(data.votesCount);
                }
            });
        }
    </script>
}