@model GiftProject.Web.ViewModels.Product.AllProductViewModel
@{
    this.ViewData["Title"] = "All Products";
}


@{
    var prevDisabled = !Model.ProductsViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ProductsViewModel.HasNextPage ? "disabled" : "";
    int movieCounter = 0;

}


<div>
    <div class="container">
        <div class="row align-content-center">
            @*<div class="col-md-4 col-sm-4">
                <form class="form-inline float-right" asp-action="AllProducts" method="get">
                    <input id="search" type="text" class="form-control mr-sm-2" name="SearchString" value="@ViewData["currentSearchFilter"]" required />
                    <button class="btn btn-outline-primary my-2 my-sm-0" value="Search" type="submit">Search</button>
                </form>
            </div>*@

            <form class="form-inline">
                <input class="form-control form-control-lg" type="search" name="SearchString" placeholder="Search" aria-label="Search" value="@ViewData["currentSearchFilter"]" required>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
   
    <div class="container">
        <div class="row">

            @foreach (var product in Model.ProductsViewModel)
            {
                movieCounter++;

                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name" width="500" height="350">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">

                                    <li><a class="btn btn-success text-white" href="#"><i class="bx bx-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><i class="bx bx-happy-heart-eyes"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="#"><i class="bx bx-card"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="h3 text-decoration-none">@product.Name</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>
                                    <p>К. № @product.CatalogueNumber</p>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-warning bx bx-star"></i>
                                    <i class="text-muted bx bx-star"></i>
                                    <i class="text-muted bx bx-star"></i>
                                </li>
                            </ul>
                            <a class="text-decoration-none" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                <p class="text-center mb-0">@product.ShortDescription</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.ProductsViewModel.TotalPages != 0)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item ">
                        <a class="page-link" asp-action="AllProducts"
                           asp-route-currentFilter="@ViewData["CurrentSearchFilter"]" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.ProductsViewModel.TotalPages; i++)
                    {
                        var active = i == Model.ProductsViewModel.PageIndex ? "active" : string.Empty;
                        <li class="page-item @active">
                            <a class="page-link" asp-action="AllProducts"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item ">
                        <a class="page-link" asp-action="AllProducts"
                           asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">Next</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

