@using GiftProject.Web.ViewModels.Product
@using GiftProject.Common
@model GiftProject.Web.ViewModels.Details.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img-top" src="@Model.ImgUrl" alt="@Model.Name" width="500" height="350">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <form id="votesForm" method="post"></form>
                                <li><a class="btn btn-primary text-white" data-toggle="tooltip" data-placement="right" title="харесай ме" onclick="upVote(@Model.Id)"><i class="bx bx-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2 text-center">@Model.Name</h1>
                        <p class="py-2 text-center">
                            <span id="votesCount" class="bx bxs-heart text-primary">@Model.VotesCount</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Код: @Model.CatalogueNumber</h6>
                                <h6>Категория: @Model.CategoryName</h6>
                            </li>
                        </ul>

                        <h6>Описание:</h6>
                        <p>@Model.Description</p>
                        <div class="col text-center">
                            <a class="btn btn-outline-primary" href="tel:@GlobalConstants.PhoneNumber">
                                Поръчай <span class="bx bx-phone-call"></span>@GlobalConstants.PhoneNumber
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h4 class="text-center mb-2">Сходни продукти</h4>
        </div>
        <div class="row ">
            @if (Model.RelatedProducts.Any())
            {
                @foreach (var product in Model.RelatedProducts)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name" width="500" height="350">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <form id="votesForm" method="post"></form>
                                        <li><a class="btn btn-primary text-white" data-toggle="tooltip" data-placement="right" title="харесай ме" onclick="upVote(@product.Id)"><i class="bx bx-heart"></i></a></li>
                                        <li><a class="btn btn-primary text-white mt-2" data-toggle="tooltip" data-placement="right" title="детайли" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><i class="bx bx-happy-heart-eyes"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="#" class="h3 text-decoration-none">@product.Name</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>
                                        <p class="text-center">Код: @product.CatalogueNumber</p>
                                    </li>
                                </ul>
                                <p id="votesCount" class="bx bxs-heart text-primary"> @product.VotesCount</p>
                                <a class="text-decoration-none" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                    <p class="text-center mb-0">@product.ShortDescription</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@section Scripts
{

    <script>
        function upVote(productId) {

            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { productId: productId, isUpVote: true };
            console.log(json);
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}