@model GiftProject.Web.ViewModels.Category.AllCategoryViewModel
@{
    this.ViewData["Title"] = "Product Page";
}
@{
    var counter = 0;
}

<div class="faq">
    <div class="container">
        <div class="breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Product" asp-action="AllProducts">Home</a>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                @*Route by id to partial view*@
                <select name="number">
                    <option value="">Select a number</option>
                    @foreach (var item in Model.AllCategories)
                    {
                        counter++;
                        <option value="@item.Id">@item.Name</option>
                        foreach (var product in item.Products)
                        {
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@product.ImgUrl" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">@product.Name</h5>
                                    <p class="card-text">@product.Description</p>
                                </div>
                            </div>
                        }
                    }
                </select>
            </div>
        </div>

       
       
    </div>
</div>