@using GiftProject.Common
@using GiftProject.Web.ViewModels.Category
@using System.Collections.Generic
@using GiftProject.Services.Data
@using GiftProject.Web.ViewModels.Index
@inject ICategoryService asService
@{ var categories = asService.GetAll<CategoryViewModel>().Take(5); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="2t-FxxggvX2qNCkfbX5un8potewmHnM7iEb4u2XY_zk" />
    <title>@this.ViewData["Title"] - Fabulous gifts</title>

    <link rel="apple-touch-icon" href="img/NewLogo.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/boxicons/css/boxicons.css" />
    <link rel="stylesheet" href="~/css/Search.css" />

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="bx bx-envelope mx-2"></i>
                    <a class=" text-light text-decoration-none" href="mailto:@GlobalConstants.GlobalEmail">@GlobalConstants.GlobalEmail</a>
                    <i class="bx bx-phone"></i>
                    <a class="text-light text-decoration-none" href="tel:@GlobalConstants.PhoneNumber">@GlobalConstants.PhoneNumber</a>
                </div>
                <div>
                    <a class="text-light" href="https://www.facebook.com/Приказни-подаръчета-110850221249086" target="_blank" rel="sponsored"><i class="bx bxl-facebook"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="bx bxl-instagram"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-white shadow-sm">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <!-- Logo Image -->
                <img src="~/img/Logo.png" width="70" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->

            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-dark">Начало <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link text-dark">За нас</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Product" asp-action="Product" class="nav-link text-dark">Продукти</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Category" asp-action="AllCategories" class="nav-link text-dark">Категории</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Contact" asp-action="Contact" class="nav-link text-dark">Контакти</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>


    <div>

        <main role="main">
            @this.RenderBody()
        </main>
        @*<partial name="_CookieConsentPartial" />*@
    </div>


    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <button onclick="topFunction()" id="topButton" class="btn btn-primary btn-sm">Top</button>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light logo">Приказни подаръци</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fa bx bxs-phone"></i>
                            <a class="text-decoration-none" href="tel:@GlobalConstants.PhoneNumber">@GlobalConstants.PhoneNumber</a>
                        </li>
                        <li>
                            <i class="fa bx bx-mail-send"></i>
                            <a class="text-decoration-none" href="mailto:@GlobalConstants.GlobalEmail">@GlobalConstants.GlobalEmail</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Продукти</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        @foreach (var category in categories)
                        {
            <li><a class="text-decoration-none" asp-area="" asp-controller="Category" asp-action="CategoryById" asp-route-Id="@category.Id">@category.Name</a></li>
}
                        @*<li><a class="text-decoration-none" href="#">Luxury</a></li>
                            <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                            <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                            <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                            <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                            <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                            <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>*@
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Навигация</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="About">За нас</a></li>
                        <li><a class="text-decoration-none" asp-area="" asp-controller="Contact" asp-action="Contact">Контакти</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/Приказни-подаръчета-110850221249086"><i class="bx bxl-facebook-circle"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; @DateTime.UtcNow.Year Fabulous gifts Всички права запазени! | Product by <a rel="sponsored" href="https://github.com/NeshoNeshev" target="_blank">Nesho Neshev</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="js/jquery-migrate-1.2.1.min.js" asp-append-version="true"></script>
    <script src="js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @*<script src="js/custom.js" asp-append-version="true"></script>*@
    <script src="js/custom.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
