@using GiftProject.Common
@model GiftProject.Web.ViewModels.Product.AllProductViewModel
@{

    this.ViewData["Title"] = "All Product";
}
@{
    var prevDisabled = !Model.ProductsViewModel.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.ProductsViewModel.HasPreviousPage ? "1" : (Model.ProductsViewModel.PageIndex - 1).ToString();
    var nextDisabled = !Model.ProductsViewModel.HasNextPage ? "disabled" : "";
    var nextPage = !Model.ProductsViewModel.HasNextPage ? "1" : (Model.ProductsViewModel.PageIndex + 1).ToString();
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div>
        <div class="container">
            <div class="col-md-6 pb-4">
                <form action="">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="search" name="SearchString" value="@ViewData["currentSearchFilter"]" required placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="bx bx-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">

                @foreach (var product in Model.ProductsViewModel)
                {

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="tileCard">

                            <p class="text-center">@product.Name</p>
                            <div class="wrapper">
                                <div class="banner-img">
                                    <img src="@product.ImgUrl" alt="@product.Name">
                                </div>

                                <div class="dates">
                                    <div>
                                        <h5 class="text-center"> @product.CategoryName</h5>
                                    </div>
                                </div>

                                <div class="stats">

                                    <div class="text-center">
                                        <span>
                                            N: @product.CategoryName
                                        </span>
                                    </div>

                                    
                                </div>

                                <div class="stats">

                                    <div>
                                        <strong>INVITED</strong> 3098
                                    </div>

                                    <div>
                                        <strong>JOINED</strong> 562
                                    </div>

                                    <div>
                                        <strong>DECLINED</strong> 182
                                    </div>

                                </div>

                                <div class="stats">

                                    <div>
                                        <strong>INVITED</strong> 3098
                                    </div>

                                    <div>
                                        <strong>JOINED</strong> 562
                                    </div>

                                    <div>
                                        <strong>DECLINED</strong> 182
                                    </div>

                                </div>

                                <div class="footer text-center">
                                    <a asp-area="Administration" asp-controller="Product" asp-action="ProductDetails" asp-route-Id="@product.Id" class="btn btn-outline-primary btn-sm">Детайли</a>
                                    <a asp-area="Administration" asp-controller="Product" asp-action="EditProduct" asp-route-Id="@product.Id" class="btn btn-outline-warning btn-sm">Промени</a>
                                    <a asp-area="Administration" asp-controller="Product" asp-action="Remove" asp-route-productId="@product.Id" class="btn btn-outline-danger btn-sm">Изтрий</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.ProductsViewModel.TotalPages != 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" asp-action="AllProduct"
                               asp-route-pageNumber="@prevPage"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]" tabindex="-1">Previous</a>
                        </li>
                        @for (int i = 1; i <= Model.ProductsViewModel.TotalPages; i++)
                        {
                            var active = i == Model.ProductsViewModel.PageIndex ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="page-link" asp-action="AllProduct"
                                   asp-route-pageNumber="@i"
                                   asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                    @i
                                </a>
                            </li>
                        }
                        <li class="page-item ">
                            <a class="page-link" asp-action="AllProduct"
                               asp-route-pageNumber="@nextPage"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">Next</a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
}