@using GiftProject.Common
@model GiftProject.Web.ViewModels.Product.AllProductViewModel
@{

    this.ViewData["Title"] = "All Product";
}
@{
    var prevDisabled = !Model.ProductsViewModel.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.ProductsViewModel.HasPreviousPage ? "1" : (Model.ProductsViewModel.PageIndex - 1).ToString();
    var nextDisabled = !Model.ProductsViewModel.HasNextPage ? "disabled" : "";
    var nextPage = !Model.ProductsViewModel.HasNextPage ? "1" : (Model.ProductsViewModel.PageIndex + 1).ToString();
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <form action="">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                @*<input id="search" type="search" class="form-control mr-sm-2" name="SearchString" value="@ViewData["currentSearchFilter"]" required />*@
                                <input type="search" name="SearchString" value="@ViewData["currentSearchFilter"]" required placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="bx bx-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">

                @foreach (var product in Model.ProductsViewModel)
                {

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="tileCard">

                            <div class="card">
                                <div class="banner-img">
                                    <img src="@product.ImgUrl" alt="@product.Name">
                                </div>
                                <div>
                                    <h5 class="card-title text-center mt-2">@product.Name</h5>
                                </div>
                                <div class="dates">
                                    <div class="start">
                                        <strong>Създаден:</strong> @product.CreatedOn.Date.ToString("dd/MM/yyyy")

                                    </div>
                                    <div class="ends">
                                        <strong>Променен: </strong> @product.ModifiedOn.GetValueOrDefault().Date.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h6>Код: @product.CatalogueNumber</h6>
                                </div>


                                <div class="stats">

                                    <div>
                                        <strong>Харесвания: </strong>@product.VotesCount
                                    </div>

                                    <div>
                                        <strong>Продукт ИД: </strong>@product.Id
                                    </div>

                                    <div>
                                        <strong>Категория ИД: </strong>@product.CategoryId
                                    </div>

                                </div>
                                <div>
                                    <h6 class="text-center">Категория: @product.CategoryName</h6>
                                </div>
                                <div class="footer text-center">
                                    <a asp-area="Administration" asp-controller="Product" asp-action="ProductDetails" asp-route-Id="@product.Id" class="btn btn-outline-primary btn-sm">Детайли</a>
                                    <a asp-area="Administration" asp-controller="Product" asp-action="EditProduct" asp-route-Id="@product.Id" class="btn btn-outline-warning btn-sm">Промени</a>
                                    <a asp-area="Administration" asp-controller="Product" asp-action="Remove" asp-route-productId="@product.Id" class="btn btn-outline-danger btn-sm">Изтрий</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.ProductsViewModel.TotalPages != 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @prevDisabled">
                            <a class="page-link " aria-label="Previous" asp-action="AllProduct"
                               asp-route-pageNumber="@prevPage">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.ProductsViewModel.TotalPages; i++)
                        {
                            var active = i == Model.ProductsViewModel.PageIndex ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="page-link" asp-action="AllProduct"
                                   asp-route-pageNumber="@i"
                                   asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                    @i
                                </a>
                            </li>
                        }
                        <li class="page-item @nextDisabled">
                            <a class="page-link" aria-label="Next" asp-action="AllProduct"
                               asp-route-pageNumber="@nextPage">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
}