@using GiftProject.Common
@model GiftProject.Web.ViewModels.Product.AllProductViewModel
@{

    this.ViewData["Title"] = "All Product";
}
@{
    var prevDisabled = !Model.ProductsViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ProductsViewModel.HasNextPage ? "disabled" : "";
    int movieCounter = 0;

}
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div>
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <div class="rounded float-right">
                    <form class="form-inline " asp-area="Administration" asp-controller="Product" asp-action="AllProduct" method="get">
                        <input id="search" type="text" class="form-control mr-sm-2" name="SearchString" value="@ViewData["currentSearchFilter"]" required />
                        <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit">Search</button>
                    </form>
                </div>

            </div>

            <div class="row">

                @foreach (var product in Model.ProductsViewModel)
                {
                    movieCounter++;

                <div class="col-md-4 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name" width="250" height="300">
                        <div class="card-body">
                            <h5 class="card-title text-center">@product.Name</h5>
                            <h5>@product.CatalogueNumber</h5>
                            <h5>@product.CategoryName</h5>
                            <p class="card-text">@product.ShortDescription</p>
                        </div>
                    </div>
                    <a class="btn btn-danger" asp-area="Administration" asp-controller="Product" asp-action="Remove" asp-route-productId="@product.Id">Delete</a>
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="Product" asp-action="EditProduct" asp-route-Id="@product.Id" role="button">Промени</a>
                </div>
                }
            </div>
            @if (Model.ProductsViewModel.TotalPages != 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" asp-action="AllProducts"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]" tabindex="-1">Previous</a>
                        </li>
                        @for (int i = 1; i <= Model.ProductsViewModel.TotalPages; i++)
                        {
                            var active = i == Model.ProductsViewModel.PageIndex ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="page-link" asp-action="AllProducts"
                                   asp-route-pageNumber="@i"
                                   asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                    @i
                                </a>
                            </li>
                        }
                        <li class="page-item ">
                            <a class="page-link" asp-action="AllProducts"
                               asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">Next</a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
}