@using GiftProject.Common
@model GiftProject.Web.ViewModels.Administration.Category.AdminAllCategoryViewModel
@{
    this.ViewData["Title"] = "All Admin Category";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{

    <div class="container mt-3">
        <div class="row">

            @foreach (var category in Model.AllCategories)
            {
                <div class="col-md-4 ">
                    <div class="mt-2 mb-2">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@category.ImgUrl" alt="@category.Name" width="250" height="300">
                            <div class="card-body">
                                <h5 class="card-title text-center">@category.Name</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Категория ИД: @category.Id</li>
                                <li class="list-group-item">Брой продукти: @category.ProductsCount</li>
                            </ul>
                            <div class="card-body">
                                <a class="btn btn-danger" asp-area="Administration" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id">Изтрий</a>
                                <a class="btn btn-primary" asp-area="Administration" asp-controller="Category" asp-action="EditCategory" asp-route-Id="@category.Id" role="button">Промени</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
